*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
    line-height: 1.6;
    font-family: sans-serif;
}
header{
    background-color: aquamarine;

}
footer{
    background-color: aquamarine;
    padding:20px;
    text-align: center;
}
h1{
    color:blue;
    text-align: center;
}
p{
font-family: sans-serif;
}
h2{
    color: green;
}
h3{
    color:maroon;
}
.logo{
    height:50px;
    width:auto;
    border-radius: 25px;
}
#companyname{
    color:green;
}
.logoarea{
display: flex;
align-items: center;
gap:20px;
}
nav{text-align: center;
text-decoration: none;}
nav ol{
    list-style-type: decimal;
    text-decoration: none;
}
nav ol li{
    display:inline-block; 
    margin-left: 20px;
    list-style-type: decimal;
    text-decoration: none;
}
nav ol li a{
    color:purple;
    
}
nav ol li a:hover{
    background: moccasin;
}
.hero{
    
    text-align: center;
    padding: 80px 30px;
}
.herocontent{
    background-color:violet;
    padding: 40px ;
    border-radius: 10px;
}
.programs{
    background-color: deeppink;
    padding: 50px 20px;
    text-align: center;
}
.program-box{
    width:300px;
    display:inline-block;
    margin:10px;
    padding:20px;
    background-color: gold;
    vertical-align: top;
    border-radius: 10px;
    box-shadow: 0 10px 10px lavender;
}
.htn{background-color: lightskyblue;
border-radius: 5px;
text-decoration: none;
display: inline-block;
padding:12px 20px;
font-weight: bold;
color:moccasin
}
.htn:hover{
    background-color: lime;
    color:maroon
}
.contact-section{
    max-width: 600px;
    margin: 50px auto;
    background-color: mediumspringgreen;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px midnightblue;
    text-align:right;
}
.contact-form label{
    display: block;
    color:orangered;
    font-weight: bold;
    margin-top: 5px;

}
.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus{border-color: orange;
outline-offset: none;}
.contact-form input[type=text]
.contact-form input[type=email]
.contact-form textarea{
    width: 100%;
    padding: 10px 12px;
    border: 1px orchid;
    margin-bottom: 20px
}
.contact-form .btn{
    background-color: peru;
    border-radius: 5px;
    color: purple;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;

}
.contact-form .btn:hover{
    background-color: red;
    color: sienna;
}
button{
    width: 100px ;
    height: 50px;
}
.abcd{
    background-color:yellowgreen;
    padding: 50px;
    margin:15px 100px;
}
.efg{
    background-color: chocolate;
    padding:50px;
    margin:15px 100px;
}
.hij{
    background-color: darkgreen;
    padding: 50px;
    margin:15px 100px;
    
}
.why-container{
    display: flex;
    gap:20px;
    justify-content: center;
}
.why-choose-us{
    background-color: crimson;
    padding: 40px 20px;
}
.why-box{
    background-color: aliceblue;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 8px plum;
    font-weight: bold;
}
.image-section{
    padding: 40px 20px;
    text-align: center;
    display:flex;
    gap: 10px
    ;
    
}
.image-box{
    background-color: gold;
    width:200px;
    margin:15px;
    flex: 2  ;
    min-width: 100px;

    
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 8px lawngreen;
}
.image-box img{
    width:100%;
    height: 250px;
    border-radius: 8px;
}
.testimonies{
    background-color:lightsalmon;
    padding: 5%;
    
    box-shadow:0 0 8px hotpink;
    margin-bottom: 20px;
   
    border-radius: 8px;
    margin:20px 100px;

}